<% if @pizza.errors.any? %>
    <% @pizza.errors.messages.each do |message| %>
        <% if !message.last.first.include?("must exist") %>
            <p style="color: red;">🧐 <%= message.last.first %> 🤨😂</p>
        <% end %>
    <% end %>
<% end %>

<%= form_for(@pizza) do |f| %>
    
    <h3>Name Your Pizza:</h3>
    <%= f.text_field :name %>

    <h3>Choose Size:</h3>
    <select name="pizza[size]" id="pizza_size">
        <option value="">Please select</option>
        <option value="Small">Small + $0.00</option>
        <option value="Medium">Medium + $2.00</option>
        <option value="Large">Large + $4.00</option>
    </select>

    <h3>Select Toppings:</h3>
    <div id= "checkboxes">
    <%= f.collection_check_boxes :topping_ids, Topping.all, :id, :name do |b| %>
        <%= b.label do %>
            <%= b.check_box %>
            <%= b.label %>
            <span>$<%= "%.2f" % b.object.price.to_f %></span>
        <% end %>
    <% end %>
    </div>
        
    
    <h3>Select Crust:</h3>
    <%= f.collection_select :crust_id, Crust.all, :id, :dough, prompt: true %>
    
    <h3>Select Sauce:</h3>
    <%= f.collection_select :sauce_id, Sauce.all, :id, :flavor, prompt: true %>

    <%= f.hidden_field :user_id, value: @user.id %>
        


    <br><br><br>
    <section class="btn">
    <%= f.submit "Put Your Pizza in the Oven!" %>
    <br><br><br><br><br><br><br><br><br>
    </section>
<% end %>