<h2><u><%= @pizza.name %> Pizza</u></h2>

<h3>Size:</h3>
<p><%= @pizza.size %></p>

<% if @pizza.toppings.length > 0 %>
    <h3>Toppings:</h3>
    <ul>
    <% @pizza.toppings.each.with_index do |topping, index| %>
        <li><%= topping.name %></li>
    <% end %>
    </ul>
<% end %>

<h3>Crust:</h3>
<%= @pizza.crust.dough %>

<h3>Sauce:</h3>
<%= @pizza.sauce.flavor %> <br>