<% if @user && @user.id %>
    <%= button_to "Order Yo Za!", "/order", method: :get, params: { pizza_id: @pizza.id }  %>
<% end %>

<h2><u><%= @pizza.name %> Pizza</u></h2>

<h3>Size:</h3>
<p class="pizza-attributes"><%= @pizza.size %></p>

<% if @pizza.toppings.length > 0 %>
    <h3>Toppings:</h3>
    <div class="toppings-list">
        <ul class="unordered-list">
        <% @pizza.toppings.each.with_index do |topping, index| %>
            <li class="pizza-toppings"><%= topping.name %></li>
        <% end %>
        </ul>
<% end %>
    </div>

<h3 class="crust-header">Crust:</h3>
<p class="pizza-attributes"><%= @pizza.crust.dough %></p>

<h3>Sauce:</h3>
<p class="pizza-attributes"><%= @pizza.sauce.flavor %></p>

<h3>Price:</h3>
<p class="pizza-attributes">$<%= @pizza.total_pizza_price %></p>

<br><br><br><br><br>