<h1><u><%= @pizza.name %> Pizza</u></h1>

<% if @pizza.toppings.length > 0 %>
    <h3>Toppings:</h3>
    <ul>
    <% @pizza.toppings.each.with_index do |topping, index| %>
        <li><%= topping.name %></li>
    <% end %>
    </ul>
<% end %>

<h3>Crust:</h3>
<%= @pizza.crust.dough %>

<h3>Sauce:</h3>
<%= @pizza.sauce.flavor %> <br>

<br><br>
<button><%= link_to "All Pizzas", pizzas_path %></button>