<!DOCTYPE html>
<html>
  <head>
    <title>YumYum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Yum YUM!</h1>
    <button><%= link_to "All Pizzas", pizzas_path %></button>
    <button><%= link_to "Order New Pizza", new_pizza_path %></button>
    <button><%= link_to "Analytics", "analytics" %></button>
    <br> <%= yield %>
  </body>
</html>
