<!DOCTYPE html>
<html>
  <head>
    <title>YumYum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Yum YUM!</h1>
    <nav>
      <%= button_to "All Pizzas", pizzas_path, method: :get %>
      <% if @user && @user.id %>
        <%= button_to "Order New Pizza", new_pizza_path, method: :get %>
        <%= button_to "Analytics", "/analytics", method: :get %>
        <%= button_to "Logout", login_path, method: :delete %>
      <% else %>
        <%= button_to "Signup", signup_path, method: :get %>
        <%= button_to "Login", login_path, method: :get %>
      <% end %>
    </nav>
    <br> <%= yield %>
  </body>
</html>
